$blue-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$main-text-color: #303133;
$routine-text-color: #606266;
$secondary-text-color: #909399;
$occupy-text-color: #C0C4CC;

$a-border-color: #DCDFE6;
$b-border-color: #E4E7ED;
$c-border-color: #EBEEF5;
$d-border-color: #F2F6FC;

// 默认色织
$c-nc-1: #ffffff;
$c-nc-2: #eee;
$c-nc-3: #fafafa;